@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../');
  src: local(''), url('../'), url('../');
}
:root {
  --main-text-color: #555555;
  --dark-bg-text-color: #9ba4bd;
  --accent-color: #ff6c00;
  --title-color: #303030;
  --dark-bg-color: #191c26;
  --second-bg-color: #f7f7f7;
  --title-font: 'Raleway', sans-serif;
  --grid-item: 2;

  --animation: 500ms ease-in;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  background: rgb(178, 175, 184);
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Отменить курсив */
address {
  font-style: normal;
}
/* Для того, чтоб скрыть елементы */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* Убрать декорирование: подчеркивание ссылок,точки,кнопки */
.link {
  text-decoration: none;
  color: inherit;
  transition: color var(--animation);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.logo {
  display: block;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.list.menu {
  display: inline-flex;
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.button {
  border-radius: 25px;
  border: 1px solid var(--accent-color);
  padding: 12px 20px;
  min-width: 160px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--title-color);
  background-color: transparent;
  cursor: pointer;
  transition: color var(--animation), background-color var(--animation);
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: #fff;
}
/* Выравнивание кол-то фото в секции(3шт., 4шт.) */
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.grid-item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}
.flexbox {
  display: flex;
  justify-content: space-between;
}
.content-box {
  flex-basis: calc((100% - 30px) / 2);
}
/*--------------------------------------*/
.line:before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
  display: inline-block;
  margin-right: 20px;
}
/*-------------------------------------------------*/
/* Копирайт внизу */
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--dark-bg-text-color);
}
/* Стили к социальным сетям: инстаграм, ютуб */
.socials-list {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--title-color);
}
.socials-item:not(:last-child) {
  margin-right: 40px;
}
/*----------------------------------------------------------------------*/
.social-icon {
  display: inline-flex;
}
.social-icon .icon {
  width: 20px;
  height: 20px;
}
.social-icon-item + .social-icon-item {
  margin-left: 10px;
}
.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
}
.social-list .icon {
  width: 20px;
  height: 20px;
  fill: var(--title-color);
  transition: fill var(--animation);
}
.social-icon-link:hover .icon,
.social-icon-link:focus .icon {
  fill: var(--accent-color);
}

/* div контейнер */
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Общие стили к заголовкам */
.title {
  font-family: var(--title-font);
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--title-color);
  margin-bottom: 20px;
}
/* Лейбл для заголовков */
.title-label {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 20px;
}
/* h1 */
.page-title {
  font-size: 72px;
  line-height: 1.18;
}
/* h2 */
.section-title {
  font-size: 42px;
  line-height: 1.167;
}
.section {
  padding-top: 130px;
  padding-bottom: 130px;
}
/* header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #fff;
  z-index: 100;
}
.header .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .logo {
  margin-right: 70px;
}
.header .button {
  margin-left: 40px;
  color: #fff;
  border-color: currentColor;
  animation-iteration-count: infinite;
  animation-duration: 1500ms;
  animation-name: sos;
}
/*@keyframes sos {
  from {
    background-color: var(--accent-color);
    transform: scale(1);
  }
  to {
    background-color: red;
    transform: scale(1.2);
  }
}*/

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.hero {
  display: flex;
  align-items: center;
  /*min-height: 100vh;*/
}
.hero .container {
  position: relative;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-position: 115px 0;
  /*height: 100vh;*/
  background-image: url(../images/slider-1.jpg);
}
.hero-content {
  width: calc(100% / 12 * 5);
  max-width: 500px;
  margin-left: 200px;
  padding-top: 272px;
  padding-bottom: 206px;
}
.hero-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 115px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 40px;
  background-color: rgb(178, 175, 184);
}
.hero-sidebar .socials-list {
  transform: rotate(-90deg) translateX(50%);
}
/* в 3 секции temnui fon */
.dark-bg {
  background-color: var(--dark-bg-color);
  color: var(--dark-bg-text-color);
  background-image: url();
}
.dark-bg .title,
.dark-bg .button {
  --title-color: #fff;
}
.dark-bg .title-label {
  --title-color: rgb(157, 164, 189, 0.6);
}
.price {
  background-image: url(../images/img.png);
  background-repeat: no-repeat;
  /*background-position: center;*/
  background-size: cover;
}
.price-wrap {
  display: flex;
}
.price-list {
  flex-basis: 50%;
  padding: 30px 40px;
  background-image: linear-gradient(
    180deg,
    #090813 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}
.price-list:first-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}
.price-item {
  display: flex;
  justify-content: space-between;
}
.price-item-serv {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}
.price-item-serv:after {
  content: '';
  display: block;
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}
.price-item:not(:last-child) {
  margin-bottom: 20px;
}

/* в 4 секции */
.benefits-item {
  flex-basis: calc((100% - 2 * 30px) / 6 * 2);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--title-color);
  background-color: var(--second-bg-color);
  padding: 20px 18px;
}

.benefits-item:nth-child(odd) {
  transform: translateY(-17.5px);
}
.benefits-item:nth-child(even) {
  transform: translateY(17.5px);
}

.benefits-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.357;
  letter-spacing: 0.05em;
}
.benefits-number > sup {
  font-weight: 600;
  font-size: 16px;
  vertical-align: super;
  color: var(--accent-color);
}

/* в 5 секции */
.team {
  background-color: var(--second-bg-color);
}
.team-item {
  --grid-item: 3;
  text-align: center;
}
/* h3 */
.team-member {
  font-size: 18px;
  line-height: 1.389;
  color: var(--title-color);
}
.team-member-position {
  font-size: 14px;
  line-height: 1.36;
  color: var(--accent-color);
}
/*--------------------------*/
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-us {
}
.contact-us:focus-within .section-title {
  color: var(--accent-color);
}
.form:focus-within {
}
.form-field {
  width: calc((100% - 30px) / 2);
  padding-bottom: 8px;
  margin-bottom: 44px;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.form-field:focus {
  outline: none;
  border-bottom-color: #fff;
}
.form-field:focus::placeholder {
  color: var(--second-bg-color);
}
.form-field:-webkit-autofill,
.form-field:-webkit-autofill:hover,
.form-field:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px var(--dark-bg-color) inset;
}
.form-field::placeholder,
.form-field-text {
  font-size: 11px;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.form-message {
  resize: none;
  width: 100%;
}
.form-field:valid:not(:focus) {
  color: green;
}
.form-field:invalid:not(:focus) {
  color: red;
}
/*.form-field:required {
  background-color: #ff6a0065;
}*/
/*.form-field:placeholder-shown {
  border-color: blue;
}*/

/*--------------------------*/
.contacts {
  padding-left: 100px;
  padding-right: 100px;
  background-image: url(./images/Bg.png) no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-link {
  display: flex;
  text-align: center;
}
.contacts-link .icon {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  stroke: var(--dark-bg-text-color);
}
.contacts-link:hover .icon,
.contacts-link:focus .icon {
  stroke: var(--accent-color);
}
.contacts-address {
  margin-bottom: 70px;
}
/*--------------------------*/
.gallery-item {
  --grid-item: 4;
}
/* в 6 секции */

/* в 7 секции */

/* footer */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
/*---MODAL------------------------------------------------*/
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  background-color: rgba(25, 28, 38, 0.63);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 120;
  opacity: 1;
  transition: opacity 500ms ease-out 200ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 550px;
  min-height: 450px;
  border-radius: 30px;
  padding: 40px 30px;
  transition: transform 700ms ease-in-out 300ms;
}
.is-hidden .modal {
  transform: translate(100%, 100%) scale(0.2);
}
.btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.modal-title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}
.modal .form-field-label {
  width: calc((100% - 30px) / 2);
  margin-bottom: 44px;
}
.modal .form-field-text {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s linear;
}
.modal .form-field {
  width: 100%;
  margin-bottom: 0;
  padding-left: 25px;
}
.modal .form-field:focus + .form-field-icon {
  stroke: #fff;
}
.modal .form-field:not(:placeholder-shown) ~ .form-field-text {
  top: 0;
  left: 10px;
  font-size: 10px;
  transform: translateY(-100%);
}
.modal .form-message {
  margin-bottom: 44px;
}
.form-field-icon {
  width: 14px;
  height: 14px;
  margin-right: 20px;
  stroke: rgba(157, 164, 189, 0.4);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.modal .form-field-label {
  position: relative;
}
/*.button[disabled] {
  color: grey;
  background-color: lightgray;
  border-color: grey;
}*/
