:root {
  --main-text-color: #555555;
  --dark-bg-text-color: #9ba4bd;
  --accent-color: #ff6c00;
  --title-color: #303030;
  --dark-bg-color: #191c26;
  --second-bg-color: #f7f7f7;
  --title-font: 'Raleway', sans-serif;
}
body {
  background: rgb(178, 175, 184);
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
/* Отменить курсив */
address {
  font-style: normal;
}
/* Для того, чтоб скрыть елементы */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* Убрать декорирование: подчеркивание ссылок,точки,кнопки */
.link {
  text-decoration: none;
  color: inherit;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--title-color);
}
/* Копирайт внизу */
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--dark-bg-text-color);
}
/* Стили к социальным сетям: инстаграм, ютуб */
.socials-list {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--title-color);
}
/* Общие стили к заголовкам */
.title {
  font-family: var(--title-font);
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--title-color);
}
/* Лейбл для заголовков */
.title-label {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-color);
}
/* h1 */
.page-title {
  font-size: 72px;
  line-height: 1.18;
}
/* h2 */
.section-title {
  font-size: 42px;
  line-height: 1.167;
}

/* header */
.header {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #fff;
}

/* в 3 секции temnui fon */
.dark-bg {
  background-color: var(--dark-bg-color);
  color: var(--dark-bg-text-color);
}
.dark-bg .title,
.dark-bg .button {
  --title-color: #fff;
}
.dark-bg .title-label {
  --title-color: rgb(157, 164, 189, 0.6);
}

/* в 4 секции */
.benefits .benefits-list .benefits-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--title-color);
  background-color: var(--second-bg-color);
}
.benefits-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.357;
  letter-spacing: 0.05em;
}

/* в 5 секции */
.team {
  background-color: var(--second-bg-color);
}
.team-item {
  text-align: center;
}
/* h3 */
.team-member {
  font-size: 18px;
  line-height: 1.389;
  color: var(--title-color);
}
.team-member-position {
  font-size: 14px;
  line-height: 1.36;
  color: var(--accent-color);
}

/* в 6 секции */
.title-label {
}

/* в 7 секции */

/* footer */
